/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #000;
}

body {
    background: #111;
    font-family: Helvetica, Helvetica Neue;
    font-size: 105%; /* 13pt/18pt; */
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #777;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.marginv {
	margin: 1em 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ===================
    Header
   =================== */
header {
	text-align: right;
/*    background: url("galactic.png") 65% 0 no-repeat; */
}
header br {line-height: 1.8em;}
#logo {
	float: left;
	margin-bottom:25px;
	max-width: 100%;
}
#github {
    background: url("http://rz.scale-it.pl/_static/blacktocat.png") 95% 50% no-repeat #1c304c;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.506);
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 50px 10px 10px;
    margin-right: 2%;
}
header .break {margin-top: 22px;}
.title {
    color: #bbc;
    font-weight: bold;
    font-size: 140%;
    padding-right: 3%;
    font-variant: small-caps;
}
header a {text-decoration: none; }

/* ==============
    MOBILE: Menu
   ============== */
#menu {padding: 5px 10px; }
nav {
    text-align: left;
    clear: both; background: #1c304c;
    margin: 16px 0 0 0;
    font-variant: small-caps;
}
nav a {
    display: block;
    margin-bottom: 10px;
    padding: 7px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    background: #001010;
    color: #fee;
}

nav a:hover,
nav a:visited {
    color: #fee;
}
nav a:hover {
    text-decoration: underline;
}
#info { background: #4F5663; padding: 7px;
	/* line-height: 95%; */
	font-size: 95%; font-variant: normal;}

/* ==============
    MOBILE: Main
   ============== */

/* .main */
article {
    padding: 20px 0;
}


aside {
    padding: 10px;
    font-size: 90%;
}
aside h3, aside h2 {margin-bottom: 0.5em;}
aside ul {margin-top: 0.5em;}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.ie7 .title {
    padding-top: 20px; /* IE Fix */
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.footer-container, aside{
    background: #444;
}
.footnote-reference {
    font-size: 80%;
    vertical-align: text-top;
}
.postmeta, #disqus_thread {background: #000; }
#disqus_thread {margin-bottom: 16px; }
.postmeta {color: #F6F6F6; font-size: 90%; padding-left: 2%; padding-right: 2%;}
.postmeta a {color: #94C2BC;}
section, .archive_link, article > * {background: #e0e0e0;}
section {padding: 0px 5px; margin-bottom: 3px;}
article  > div, article > ul, article > h1, article > p, article > form {
    padding: 2%;
    -webkit-box-shadow: 0px 0px 10px #777;
       -moz-box-shadow: 0px 0px 10px #777;
             box-shadow: 0px 0px 10px #777;
}
.timestamp, article .post_separator {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
}
.timestamp {
    background: none;
    color: #963266; float:
    right;
    padding: 1.5% 2%;
}

.social-share {margin: 6px 0;}
.social-share > a, .social-share > span {margin-left: 12px;}
.social-share > :first-child {margin-left: 0;}

.archive_link {border: 4px black solid; margin: 2% 0; text-align: center;}
.post_separator {margin-top: 10px; clear:both; background-color: #111;}

dl dt {
	margin-top: 9pt;
	font-weight: bold;
}

ul.related { margin: 0 0 16px 0; }
ul.related li { list-style-type: none; text-align: center; }
#searchbox input {width: 100%;}

pre {
    border: 1px solid black;
    font-family: "Courier New", "Terminal", monospace;
    font-size: 95%;
    line-height: 110%;
    background-color: #E5E0D1;
    padding: 5px 0.5em;
    margin: 0.5em 0;
    overflow: auto;

    /* overwrite style from normalize to not allow text wrapping */
    white-space: pre;
    word-wrap: normal;
}

span.docutils, .pre {background-color: #f0f0e2;
    font-family: "Courier New", "Terminal", monospace;
}
blockquote {
	font-size: 95%;
	border-left: 1px solid #BBB;
	color: #525252;
	margin-left: 18px;
	padding: 0 20px;
}


#sidebar-me img {float: left; padding: 0 10px 5px 0;}
#sidebar-me img.view-on {display: inline; float: none; padding: 6px;}
.sidebar ul {padding-left: 20px;}
article ul {margin: 0.5em 0;}
article p {margin: 0.7em 0;}
article img {
	margin-top: 12px;
	max-height: 100%;
	max-width: 100%;
}

table.docutils { font-size: 90%; border: 0 none; border-collapse: collapse;}
table.docutils td, table.docutils th { padding: 1px 3px; border-color: #788; border-left-style: dotted; border-right-style: dotted;}
table.docutils th {background-color: #a2b5b5;}
a {color: #aad;}
.main a {color: #094094;}
.main a:visited {color: #661766;}

.main h1 a, .main h2 a, .main h3 a, .main h4 a, .main h5 a,   .main h1 a:visited, .main h2 a:visited, .main h3 a:visited, .main h4 a:visited, .main h5 a:visited,    .main h1,.main h2,.main h3,.main h4,.main h5 {color: #223; text-decoration: none; background: #D0D0DF;}
.main h1, .main h2, .main h3,
  .aside h1, .aside h2, .aside h3 {padding: 0 4px;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover, h5 a:hover {background: #ABABAB;}
h1 {line-height: 1.3em;}
aside h1, aside h2, aside h3, aside h4, aside h5 {background: none;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    ul.related { padding: 4px 2%; }
    ul.related li { display: inline; }
    ul.related li.right { float: right; }

/* ====================
    INTERMEDIATE
   ==================== */

    .webfont {font-size: 95%; } /* webfont font is higher the other fonts */
    nav a {
        /* display: inline; */
	float: left;
        margin: 0 0.9%;
        padding: 5px 12px;
    }
    nav a:first-child {
        margin-left: 0;
    }
    nav a:last-child {
        margin-right: 0;
    }

     /* IE Fixes */
    .oldie nav a {margin: 0 0.7%;}
}

@media only screen and (min-width: 768px) {
/* ====================
    WIDE
   ==================== */

    header .break {margin-top: 60px;}
    #info {float: right; height: 39px; width: 21%; padding: 5px 1% 0 1%; margin: 0 8px 0 0;}
    nav { height: 44px; }

    article {
        float: left;
        width: 74%;
    }
    aside {
    	float: right;
    	width: 21%;
    	margin: 0 8px;
    	padding: 1%;
    }
    #sidebar-me img {display: block; float: none;}
    #sidebar-me {font-size: 90%; line-height: 150%;}
}

@media only screen and (min-width: 1140px) {
/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1100px; /* 1140px - 40px for margins */
	margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
